/* @media only screen
  and (max-device-width: 768px)
  and (orientation: portrait) {
    .homepage{
        padding-left: 2rem;
        padding-right: 2rem;
    }
} */

.homepage{
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    bottom: 7rem;
}

html {
    scroll-behavior: smooth;
  }