/* Lady Meek */
h2{
    letter-spacing: 4px;
    font-size: 30px;
    margin-bottom: 5px;
    color: rgb(139, 139, 139);
}
/* Website Development */
h1{
    font-size: 45px;
    color:black;
    margin-top: 0px;
}
.titletext{
    padding-top: 1rem;
    padding-left: 5rem;
}
hr{
    margin-top: 5rem;
    width: 78.67%;
    position: relative;
    left: -20rem;
    border: none; /* Remove the default border */
    border-top: 2px solid #9E9E9E;
}